.links {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.logout {
    padding: 10px;
    cursor: pointer;
}

.menu-btn {
    display: none;
}

.mobile-menu {
    display: none;
}

@media (max-width: 924px) {

    .links {
        display: none;
    }

    .menu-btn {
        display: block;
        cursor: pointer;
        font-size: 30px;
        font-weight: bold;
    }

    .mobile-menu {
        position: absolute;
        top: 65px;
        right: 0;
        width: 45%;
        height: calc(100vh - 7rem);
        background-color: var(--bg);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 2.5rem;
        transition: height 0.5s ease-in-out;
    }
}