:root {
    --bg: rgb(0, 7, 32);
    --bgSft: rgb(0, 18, 58);
    --txt: white;
    --sftTxt: rgb(232, 252, 255);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--bg);
    color: var(--txt);
    width: 100%;
}

a {
    text-decoration: none;
    color: inherit;
}

.lay-container {
    width: 95vw;
    margin: auto;
    min-height: 100vh;
    padding: 0 70px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


@media only screen and (max-width: 1236px) and (min-width: 1024px) {
    .lay-container {
        width: 90vw;
        padding: 0 50px;
    }
}

@media only screen and (max-width: 1023px) and (min-width: 768px) {
    .lay-container {
        width: 85vw;
        padding: 0 30px;
    }
}

@media only screen and (max-width: 767px) and (min-width: 268px) {
    .lay-container {
        width: 80vw;
        padding: 0 10px;
    }
}